body {
   background: lightblue;
}

.mylink:link {
   color: blue;
}

.mylink:visited {
   color: steelblue;
}

.column {
   float: left;
   width: 50 %;
   margin: 10px;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.fig-SidebySide {
   margin: 0.5em;
   border: 2px solid purple;
   padding: 20px;
   width: 60%;
   font-style: italic;
   min-width: 800px;
}


