body {
   background: snow;
   font-size: 12pt;
   text-align: justify;
   font-family: "Times New Roman", serif;
}

footer {
   background: palegreen;
   margin: 2em;
   text-align: right;
}

h1 {
   color: darkslategray;
}

h2 {
   color: navy;
}

h3 {
   color: navy;
}

.mylink:link {
   color: blue;
}

.mylink:visited {
   color: steelblue;
}

.column {
   float: left;
   width: 50 %;
   margin: 10px;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.catalog {
   background: linear-gradient(to right, rgba(255,255,224,1.0), rgb(240,230,140));
   /* lightyellow transitions to khaki*/
}

.fig-SidebySide {
   margin: 0.5em;
   border: 2px solid black;
   padding: 20px;
   width: 60%;
   font-style: italic;
   min-width: 800px;
}

.myfig {
   display: table;
   margin-left: 0.5em;
   margin-bottom: 3em;
   margin-top: 1em;
   font-style: italic;
   width: 50%;
}




