body {
   background: snow;
}

.myh1 {
   color: darkslategray;
}

.mylink:link {
   color: blue;
}

.mylink:visited {
   color: steelblue;
}

.column {
   float: left;
   width: 50 %;
   margin: 10px;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.catalog {
   background: linear-gradient(to right, rgba(255,255,224,1.0), rgb(240,230,140));
   /* lightyellow transitions to khaki*/
}

.fig-SidebySide {
   margin: 0.5em;
   border: 2px solid black;
   padding: 20px;
   width: 60%;
   font-style: italic;
   min-width: 800px;
}

.myfig {
   margin: 0.5em;
   padding: 20px;
   width: 60%;
   font-style: italic;
   min-width: 800px;
}


